@import url("normalize.css");

@import url("AR_mainTags.css");

/**
 * Tags available on AboutMe page  of Andrzej Rokosz's Gallery in tab <body> </body>
 */

.photo-logo-background {
  background-image: url(../Images/biedronka.jpg);
  background-size: 100%;
  background-repeat: repeat-x;
  background-position: center top;
  backface-visibility: visible;
  background-color: #fff;
}

.photo-about-me-container {
  align-self: center;
  margin-left: 750px;
  transition: 3s;
}

/**
 * here will be text about photographer
 */
.photo-about-me-text {
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: #827632;
  width: 580px;
  height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  padding: 12px;
}

.photo-footer {
  height: 40px;
  align-self: center;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #827632;
  text-align: center;
  font-weight: bold;
  padding: 6px;
  margin-top: 90px;
}
