@import url("normalize.css");

@import url("AR_mainTags.css");
/**
 * Tags available on thematic galleries from Andrzej Rokosz's Gallery in tab <body> </body>
 */
.photo-themaGallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
  padding: 10px;
}

.photo-themaGallery-logoHolder {
  width: 250px;
  height: 250px;
  border-radius: 4px;
  background-color: #827632;
  margin-top: 10px;
  margin-left: 10px;
}

.photo-themaGallery-logo:hover,
.photo-themaGallery-logo:active {
  border: 1px solid #be3c00;
  box-shadow: 0 0 2px 1px #be3c00;
}

.photo-themaGallery-logoHolder:hover {
  background-color: #be3c00;
}

.photo-themaGallery-logo {
  width: 250px;
  height: 250px;
  border: 1px solid #827632;
  border-radius: 4px;
  object-fit: contain;
  object-position: center;
}
